*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{

	margin: 5px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
	background-color:cornsilk;

}

h5 {
	max-width: 1000px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 50px;
	margin-bottom: 50px;
}



section{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

header{
	background-color: coral;
	color: black; /* more readable on an orange background */
	padding-top: 40px;
	padding-bottom: 30px;
	margin-left: 250px;
	margin-right: 25px;
}

h1{
	color: white;
	text-shadow: 4px 4px #FF0000
}



h3{
	color: white;
	text-shadow: 2px 2px #FF0000
}

h4{
	color: black;
	text-shadow: 2px 2px white
}

h2{
	font-size: 40px;
	color: white;
	text-shadow: 4px 4px #FF0000
}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; 
	margin-left: 25px;
	margin-right: 25px;

}

.g-50{
	width: 50%;
	float: left;
}

.g-40{
	width: 40%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}

.edit{
	color: #b30000 ;
	font-size: 23px; 
	text-align: center;
	margin-top: 32px;
	margin-bottom: 32px;
	text-shadow: 2px 2px white
	 /* I add this to cells to add a little padding*/
}

/*.w3-bar-block{
	z-index: 1
	border-style:none solid none none;
	border-width:50px;

	 /* I add this to cells to add a little padding*/
}


